input {
    font-size: 22px;
    width: 280px;
    height: 48px;
    border: 2px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.register {
    width: 200px;
    height: 60px;
    margin: 35px 75px;
    background-color: Transparent;
    border: 2px #740005 solid;
    border-radius: 20px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: black;
}

.register :hover{
    color: #fff;
    background: #740005;
}

.close{
    float: right;
}