.nutrition-page__content {
    margin: 150px auto;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    width: 1000px;
    height: 700px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.nutrition-page__content ul{
    padding-left: 0;
}

.nutrition-page__content li {
    list-style-type: none;
    margin: 25px auto;
}

.nutrition-page__content h1 {
    font-family: Roboto;
    padding-bottom: 35px;
    font-style: normal;
    height: 40px;
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
    letter-spacing: -0.015em;
}

.nutrition-page__container {
    display: flex;
}

.nutrition-page__fill {
    margin-right: 50px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.nutrition-page__fill h3 {
    font-size: 24px;
    margin: 0;
    line-height: 35px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.fill-date__container {
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 25px;
}

.fill-date__container .fill-date__header {
    font-size: 24px;
    line-height: 41px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.fill-date__container .fill-date__input {
    width: 350px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
}

.fill-date__container .fill-date__button{
    width: 60px;
    height: 60px;
}

.calories__form {
    flex-wrap: wrap;
    display: flex;
    width: 350px;
    height: 400px;
    justify-content: center;
    align-content: flex-start;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    border-radius: 25px;
}

.calories__form .calories__item input {
    width: 260px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 20px;
}

.calories__form .calories__item h3 {
    padding-bottom: 15px;
}

.calories__form .calories__button_save {
    width: 140px;
    height: 50px;
    background: #821A1E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.nutrition-page__review {
    flex-wrap: wrap;
    padding: 15px;
    display: grid;
    grid-template-rows: 70px 3fr 70px;
    width: 480px;
    height: 505px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(152, 152, 152, 0.6) 100%);
    border-radius: 25px;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.nutrition-review__name {
    display: grid;
    grid-template-columns: 50% 30% 20%;
}

.nutrition-review__content {
    display: grid;
    overflow: auto;
    font-size: 22px;
}

.nutrition-review__container {
    height: 60px;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.nutrition-review__container .nutrition-review__button_delete{
    width:30px;
    height:30px;
}

.nutrition-review__result {
    display: grid;
    grid-template-columns: 50% 30% 20%;
}