@media (min-width: 980px) {
    .intro_header {
        font-size: calc(48px + 16 * (100vw / 1920));
        line-height: 88px;
        max-width: 750px;
        max-height: 200px;
        padding: 50px 0 50px 0;
    }
    .intro {
        color: #FFFFFF;
        padding-top: 250px;
    }
}

@media (max-width: 980px) {

    .intro {
        color: #FFFFFF;
    }

    .intro_header{
        padding-top: 150px;
    }
}

.header-color-text {
    font-size: calc(34px + 16 * (100vw / 1920));
    color: #740005;
}

.intro_description {
    font-size: 35px;
    line-height: 44px;
    max-width: 1275px;
    padding-bottom: 70px;
}

.intro_button {
    font-family: Roboto, sans-serif;
    width: 250px;
    height: 80px;;
    color:#ffffff;
    background-color: Transparent;
    border: 2px #740005 solid;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;

}

.intro_button:hover{
    background-color: #740005;
}