h1{
    color:#FFFFFF;
    padding-bottom: 60px;
    font-size: 35px;
    line-height: 53px;
    letter-spacing: -0.015em;
}

.weight-page__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

}


.weight-page__fill {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 700px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 50px;

}

.weight-page__form {
    width: 350px;
    display: flex;
    height: 380px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    border-radius: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.weight-page__form h3{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin: 10px 0;
}

.weight-page__form input {
    width: 200px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 20px;
}
.wight-date__form .form__input{
    display:flex;
}

.weight-page__form .calories__item input {
    width: 260px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 20px;

}

.weight-page__form .calories__item h3 {
    padding-bottom: 15px;
}
.wight-date__form .form__input_button{
    width: 55px;
    height: 55px;
}
.weight-page__form .form__button_save {
    width: 140px;
    height: 50px;
    margin: 30px auto;
    background: #821A1E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.weight-page__statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 700px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}