.header_link {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
    opacity: 0.75;
}

@media (min-width: 980px) {
    .header_item {
        margin: 20px;
    }

    .header_list {
        display: flex;
        flex-wrap: wrap;
        padding-right: 300px;
    }

    .header_nav {
        background: #8A2025;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
        position: fixed;
        z-index: 55;
        overflow: auto;
    }
}

@media (max-width: 980px) {
    .header_list {
        flex-wrap: wrap;
    }

    .header_item {
        margin: 50px;
    }

    .header_nav {
        z-index: 5;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -120%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header_nav._active {
        left: 0;
    }

    .header_nav::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background: #8A2025;
        z-index: 3;
    }

    .header_list > li {
        flex-wrap: wrap;
        margin: 20px;
    }

    .header_list > li:last-child {
        margin-bottom: 0;
    }

    .header_link {
        font-size: 30px;
    }
}