button{
    outline-offset: 0;
    outline: 0;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
}

h1 {
    font-size:  calc(44px + 16 * (100vw / 1920));
    line-height: 69px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 20px;
}

h2 {
    font-size: 35px;
    line-height: 44px;
    color: #FFFFFF;
}

input {
    outline-offset: 0;
    outline: 0;
}

.wrapper {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.landing-section__content {
    display: flex;
    flex-wrap: wrap;
    width: 1275px;
    max-height: 100%;
    justify-content: space-between;
    padding: 50px;
}
@media (min-width: 980px) {
    .landing-section {
        display: flex;
        flex-wrap: wrap;
        height: 1080px;
        margin: 0 auto;
        background: radial-gradient(50% 50% at 50% 50%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.55) 69.27%),
        url(../../img/lp_bg.jpg);
        justify-content: center;
        background-size: cover;
    }
}
@media (max-width: 980px) {
    .landing-section {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        margin: 0 auto;
        background: radial-gradient(50% 50% at 50% 50%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.55) 69.27%),
        url(../../img/lp_bg.jpg);
        justify-content: center;
        background-size: cover;
    }
}
.workouts-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 1080px;
    max-height: 100%;
    background: radial-gradient(50% 50% at 50% 50%,
    rgba(25, 25, 25, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 100%),
    url(../../img/workout_bg.jpg);
    background-size: cover;
    justify-content: center;
}

.workouts-section__content {
    display: flex;
    flex-wrap: wrap;
    width: 1275px;
    max-height: 100%;
    justify-content: space-between;
    padding: 50px;
}


.calculate-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 1080px;
    max-height: 1920px;
    background: #080909;
}

.calculate-section__content {
    flex-wrap: wrap;
    width: 1275px;
    padding: 50px;
}

.calculate-section__content h1 {
    text-align: right;
    padding-bottom: 75px;
}

.calculate-description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nutrition-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 1080px;
    background: #080909;
}

.nutrition-section__content {
    display: flex;
    flex-wrap: wrap;
    width: 1275px;
    justify-content: space-between;
    padding: 50px;
}

.login-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 1080px;
    max-height: 1920px;
    background: linear-gradient(180deg, #080909 77.6%, #740005 100%);
}

.login-section__content {
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
    width: 1275px;
    padding: 50px;
}

.login-section h1 {
    font-size: 90px;
}

