
.calculate-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 370px;
    min-height: 600px;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.45) 100%);
    border-radius: 15px;
}

.calculate-card img {
    padding-top: 25px;
    width: 130px;
    height: 80px;
}

.calculate-card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px 25px;
}

.calculate-card-list input {
    font-size: 22px;
    width: 310px;
    height: 48px;
    border: 2px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.calculate-card-list p {
    font-size: 22px;
    margin: 20px 0;
}

.calculate-card-list li:nth-child(5) {
    padding: 30px 0;
    width: 100%;
    text-align: center;

}

.calculate-card-list button {
    width: 205px;
    height: 50px;
    background-color: Transparent;
    border: 2px #740005 solid;
    border-radius: 20px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: black;
}
.calculate-card-list button:hover{
    background: #740005;
    color: #fff;
}

.calculate-choice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.calculate-choice h2 {
    max-width: 600px;
    max-height: 100px;
    padding-bottom: 120px;
}

.calculate-button {
    margin:0 40px 20px 0;
    display: inline-flex;
    flex-wrap: wrap;
    width: 190px;
    height: 170px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.calculate-button img {
    width: 140px;
    height: 100px;
    padding: 10px;
}
