
.workouts__header {
    max-width: 1000px;
    height: 70px;
    padding: 140px 0 100px 0 ;
    margin-right: auto;
    color: #fff;
}

@media (min-width: 980px) {
    .card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
}
@media (max-width: 980px) {
    .card {
        padding: 50px 75px 0 75px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
}

.card__container {
    display: flex;
    width: 340px;
    min-height: 510px;
    margin: 10px auto;
    background: linear-gradient(180deg,
    rgba(152, 152, 152, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    backdrop-filter: blur(5px);
}


.card__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.card__content h1 {
    font-size: 35px;
    line-height: 44px;
    color: #FFFFFF;

}

.card__content h2 {
    flex: 1 1 auto;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.card__img-circle {
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: center;
}

.card__content a {
    margin-top: auto;
    border-radius: 50%;
    position: absolute;
    width: 180px;
    height: 180px;
    background: radial-gradient(50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.38) 100%);
    z-index: 1;
}

.card__content img {
    width: 120px;
    height: 120px;
    z-index: 2;
}
