
.nutrition-icon__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

.nutrition-icon__content {
    display: flex;
    margin: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    width: 100px;
    height: 110px;
    background: #FFFFFF;

}

.nutrition-page h2 {
    max-width: 620px;

}

.nutrition-icon__content img {
    width: 65px;
    height: 60px;
}

.nutrition-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}
.nutrition-description{
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
}

.nutrition-img .swiper-wrapper {
    height: 320px;
}

.nutrition-img .swiper-pagination-bullet {
    background-color: #740005;
}

.nutrition-img__slider img {
    filter: grayscale(25%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nutrition-img__slider img:hover {
    filter: grayscale(0%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

