.menu_icon {
    display: none;
}

@media (max-width: 980px) {
    .menu_icon {
        margin: 20px;
        z-index: 6;
        display: block;
        width: 30px;
        height: 18px;
        cursor: pointer;
        position: fixed;
    }

    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background: #FFFFFF;
    }

    .menu_icon::before,
    .menu_icon::after {
        content: "";
    }

    .menu_icon::before {
        top: 0;
    }

    .menu_icon::after {
        bottom: 0;
    }

    .menu_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu_icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu_icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

}
